{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Erfasste Mängel{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">Neuen Mangel erfassen</a>
  {% endif %}
{% endblock %}

{% block content %}
<table>
  {% for post in posts %}
    <tr>
      <td>{{ post['username'] }}</td>
      <td>{{ post['defect'] }}</td>
      <td>{{ post['details'] }}</td>
      <td>{{ post['category'] }}</td>
      <td>{{ post['resolution'] }}</td>
      <td>{{ post['created'].strftime('%Y-%m-%d') }}</td>
      <td>
      {% if g.user['id'] == post['author_id'] %}
        <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Ändern</a>
      {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}