{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Mangel ändern "{{ post['defect'] }}"{% endblock %}</h3>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="defect">Mangel</label>
    <input name="defect" id="defect"
      value="{{ request.form['defect'] or post['defect'] }}" required>
    <label for="details">Details</label>
    <textarea name="details" id="details">{{ request.form['details'] or post['details'] }}</textarea>
    <label for="category">Kategorie</label>
    <input name="category" id="category"
      value="{{ request.form['category'] or post['category'] }}">
    <label for="resolution">Status</label>
    <textarea name="resolution" id="resolution">{{ request.form['resolution'] or post['resolution'] }}</textarea>
    <input type="submit" class="btn btn-primary btn-sm" value="Speichern">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input type="submit" class="btn btn-danger btn-sm" value="Löschen" onclick="return confirm('Eintrag löschen?');">
  </form>
{% endblock %}