<!doctype html>
<title>{% block title %}{% endblock %} - Hoodr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<nav>
  <h1>Hood - Mängeltool</h1>
  <ul class="nav justify-content-end">
    {% if g.user %}
      <li class="nav-item"><a class="nav-link disabled" href="#">{{ g.user['username'] }}</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
      <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a></li>
    {% endif %}
  </ul>
</nav>
<div class="container-fluid">  
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</div>