{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Erfasste Mängel{% endblock %}</h2>
  {% if g.user %}
    <a class="badge badge-success" href="{{ url_for('defect.create') }}">Neuen Mangel erfassen</a>
  {% endif %}
  <br><br>
{% endblock %}

{% block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Haus</th>
      <th>Mangel</th>
      <th>Details</th>
      <th>Kategorie</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  {% for post in posts %}
    <tr>
      <td>{{ post['username'] }}</td>
      <td>{{ post['defect'] }}</td>
      <td>{{ post['details'] }}</td>
      <td><span class="badge badge-pill badge-primary">{{ post['category'] }}</span></td>
      <td>{{ post['resolution'] }}</td>
      <td>
      {% if g.user['id'] == post['author_id'] %}
        <a class="badge badge-secondary" href="{{ url_for('defect.update', id=post['id']) }}">Ändern</a>
      {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}